div, ul, li { 
	outline: black 1px dashed;
}

@media screen and (max-width: 800px) {

* {
	margin: 0;
	border: 0;
	padding: 0;
}

li {
	display: inline-block;
}

li li{
	display: none;
}

#header {
	background-color: #aaf;
	height: 100px;
}

#menu {
	background-color: #ddd;
}

#content1 {
	background-color: #faa;
}

#content2 {
        background-color: #ffa;
}

#area1 {
	background-color: red;
}

#area2 {
	background-color: green;
}

#area3 {
	background-color: blue;
}

}

@media screen and (min-width:800px) {

#header {
	background-color: #aaf;
	width: screen.width;
	height: 100px;
}

#menu {
	float: left;
	width: 150px;
	height: 500px;
	background-color: #ddd;
}

li {
	list-style: none;
	margin-left: -40px;
}

ul {
	margin-top: 0px;
	float: left;
}

ul ul {
	background-color: #eee;
	float: right;
}

#content {
	float: left;
	width: calc(100% - 150px);
	display: flex;
}

#content1 {
	flex: 1;
	width: 50%;
	height: 500px;
	background-color: #faa;
}

#content2 {
	flex: 1;
	width: 50%;
        background-color: #ffa;
	display: flex;
}

#area1 {
	flex: 1;
	width: 33.33%;
	height: 150px;
	background-color: red;
}

#area2 {
	flex: 1;
	width: 33.33%;
	height: 150px;
	background-color: green;
}

#area3 {
	flex: 1;
	width: 33.33%;
	height: 150px;
	background-color: blue;
}

}
